body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.image {
  float: left;
}

.teasers-wrapper {
  overflow: hidden;
}

.teaser-wrapper {
  color: #333;
  margin: 10px 0;
  display: block;
  overflow: hidden;
  text-decoration: none;
  border-bottom-color: #eee;
  border: 1px solid transparent;
  transition: background-color 150ms;
}
.teaser-wrapper:hover {
  background-color: #eee;
}
.teaser-wrapper h2 {
  margin: 0;
}

.post-image {
  width: 100%;
  height: auto;
}