body {
  margin: 0;
  padding: 0;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.image {
  float: left;
}

.teaser-wrapper {
  color: #333;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  border-bottom-color: #eee;
  border: 1px solid transparent;
  transition: background-color 150ms;
}
.teaser-wrapper:hover {
  background-color: #eee;
}

.teaser-title {
  margin-left: 10px;
  font-size: 18px;
}

.post-image {
  width: 100%;
  height: auto;
  margin: 20px;
 
}

.post-header {
  display: flex;
  align-items: center; 
  margin: 20px 0;
}

.post-title {
  margin-left: 20px;
}