body {
  margin: 0;
  padding: 0;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.image {
  float: left;
}

.teasers-wrapper {
  overflow: hidden;
}

.teaser-wrapper {
  color: #333;
  margin: 10px 0;
  display: block;
  overflow: hidden;
  text-decoration: none;
  border-bottom-color: #eee;
  border: 1px solid transparent;
  transition: background-color 150ms;
}
.teaser-wrapper:hover {
  background-color: #eee;
}
.teaser-wrapper h2 {
  margin: 0;
}

.post-image {
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}